.scrolled {
    transform: translateY(150%);
}

@media (max-width: 768px) {
    .scrolled {
        transform: translateY(140%);
    }
}

@media (max-width: 480px) {
    .scrolled {
        transform: translateY(200%);
    }
}